* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

footer {
    color: white;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.column-left, .column-center {
    display: flex;
}

span {
    display: block;
}

.button {
    
}

.end {
    color: red;
    background-color: gray;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
}